<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basic</title>

    <!-- css -->
    <link rel="stylesheet" href="./style.css">

    <!-- cdn vuejs -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
</head>

<body>
    <h1>Belajar Dasar Vuejs</h1>

    <hr>

    <div id="app">
        <table>
            <tr>
                <td>Name</td>
                <td>:</td>
                <td><input type="text" v-model="name"></td>
                <td>
                    <p>{{ name }}</p>
                </td>
            </tr>
            <tr>
                <td>Age</td>
                <td>:</td>
                <td><input type="text" v-model="age"></td>
                <td>
                    <p>{{ age }}</p>
                </td>
        </table>
    </div>

    <!-- js -->
    <script src="./script.js"></script>
</body>

</html>